# Who cares about mousepad settings/All these other settings
Mousepad
libreoffice
libaccounts-glib
gtk-*
xarchiver
volumeicon
ristretto
abrt
xfce4
pulse
xreader
dconf
systemd
gconf
nitrogen
Thunar
pavucontrol.ini
*.bak
*backup*
dnfdragora.yaml
mimeapps.list
sublime-text-3
chromium
autostart
sealert.conf