# These settings are managed by the software itself and don't make good
# candidates for 
*.bak
*backup*
.netrwhist
abrt
atril
autostart
chromium
dconf
dnfdragora.yaml
enchant
freerdp
gconf
GIMP
gtk-*
inkscape
libaccounts-glib
libfm
libreoffice
mc
mimeapps.list
Mousepad
nitrogen
pavucontrol.ini
pcmanfm
pulse
remmina
ristretto
sealert.conf
sublime-text-3
systemd
Thunar
Trolltech.conf
vim/autoload
vim/plugged
volumeicon
xarchiver
xfce4
xreader
xubuntu
